body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #7bacd36a;
  color: #1761b5;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  color: #1761b5;
  text-decoration: #222;
  font-weight: bold;
}

section {
  padding: 2rem;
  background: #fff;
  margin: 1rem;
  border-radius: 8px;
}

button {
  background: #007BFF;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #fff;
}
@media (max-width: 768px) {
  header, section, footer {
    padding: 1rem;
  }
  nav a {
    display: block;
    margin: 0.5rem 0;
  }

  button {
    width: 100%;
    padding: 1rem;
  }

  form input, form textarea {
    width: 100%;
    margin-bottom: 1rem;
  }
  .site-logo {
    max-width: 200px;
    height: auto;
    display:block;
    margin: 0 auto;
  }
}